.popup__content {
  position: relative;
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .popup__content {
    min-height: 322px;
    min-width: 282px;
  }
}
